invoices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="invoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="invoice">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="client" type="xs:string" />
              <xs:element name="date" type="xs:string" />
              <xs:element name="desc" type="xs:string" />
              <xs:element name="ordernumber" type="xs:string" />
              <xs:element name="hours" type="xs:decimal" />
              <xs:element name="discount" type="xs:decimal" />
              <xs:element name="total" type="xs:decimal" />
              <xs:element name="status" type="xs:string" />
              <xs:element minOccurs="0" name="paymentrec" type="xs:string" />
              <xs:element name="details" type="xs:string" />
              <xs:element name="contact" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
       </xs:sequence>
      <xs:attribute name="schemaLocation" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>